<?xml version="1.0"?>

<model>
  <name>street_environment</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>natekoenig@gmail.com</email>
  </author>

  <description>
     Modelo de una calle con edificios.
  </description>

</model>



